.text input {
	border: none;
    outline: none;
    height: 24px;
    width:25%;
	background: gold;
	font-size: 20px;
	color:black;
	border-bottom: 2px solid #4caf50;
	border-radius: 10px;
    padding-left: 1%;
} 

.button1 {
	margin-left: 1%;
	font-size: 20px;
	background:whitesmoke;
	color: black;
	border-radius: 0px;
}

.button1:hover {
    background-color:black;
  color:red;
}
